img{

    width: small;
    height: small;
padding: 5px;
}

body{
    background-image: url("https://static.todamateria.com.br/upload/th/ec/thecreationofadam-cke.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
   
